.App {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    color: white;
}
.title{
    margin: 0;
}
.cart{
    cursor: pointer;
    font-size:20px ;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: black;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}
.btn-card{
    padding: 7px 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.product-info {
    margin-top: 10px;
}

.favorite-icon {
    cursor: pointer;
    color: white;
    margin-left: 40px;
}

.favorite-icon.favorite {
    color: gold;
}
.favorites{
    cursor: pointer;
    font-size:20px ;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-modal{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
}
.modal-content {
    background: rgb(44, 42, 42);
    width: 20%;
    height: 10%;
    padding:  20px ;
    border-radius: 5px;
    text-align: center;
}
h3, p {
    color: white;
}